{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
   <style>
       div.img-box{
       padding-left:70px}
   </style>
</head>

<body>
<h4 style="padding-left:560px;margin-top:5px;font-family:verdana;color:maroon;">CUREWELL CLINIC</h4>
<h2 style="padding-left:560px;font-family:verdana;color:midnightblue;">About Us</h2>


<div class="row">
    <div class="col-sm-4">
            <div class="img-box">
                <img src="{% static 'img/doctor_patient.jpg' %}" alt="Curewell clinic" width="450" height="300"class="img-responsive" padding-left="50px">
            </div><!-- end img box -->
    </div>

  <div class="col-sm-8">
     <div id="about-text">
             <p id="demo" style="padding-left:80px;text-align:justify;padding-right:80px;">Curewell clinic is the modern private clinic in Kottakkal with the world’s best treatment, personalized service, and state-of-the-art facilities. We are now one of the district's major health providers, offering a broad variety of specialty medical and surgical health treatments, as well as critical care, outpatient, and community programs.
</p>
         <p id="demo" style="padding-left:80px;text-align:justify;padding-right:80px;">Our doctors are well-experienced, highly skilled, and talented. They use advanced technology in diagnosing patients, and then they recommend the best course of treatment according to each case. A group of qualified staff members works alongside our doctors to provide the best possible service to our patients. All patients are provided with accommodation in the hospital’s comfortable and cosy rooms, which are designed to create a homely atmosphere and fully meet the requirements of modern standards.
</p>
       </div><!-- end about text-->
      <p id="demo" style="padding-left:80px;text-align:justify;padding-right:80px;">You can trust us because we are not only focused on high-tech equipment and competent staff – our main priority is patient safety. We also follow the guidelines set by the country's leading experts in the field, and that's why our patients receive proper treatment and rehabilitation.
      </p>

  </div><!-- end col -->
</div><!-- end row -->

<p id="demo" style="padding-left:80px;text-align:justify;padding-right:80px;">Curewell clinic is a multi-specialty clinic. Our team of professionals at Curewell provides world-class treatment and care in the speciality areas of public health, orthopaedics, neurology, surgery, cardiology, gynaecology, and general medicine. We are devoted to and enthusiastic about your health and well-being, and we will be there for you every step of the way.
      </p>
<p style="padding-left:80px;text-align:justify;padding-right:80px;">The hospital staff consists of highly qualified specialists in various fields of medicine. The medics have received their education and certification at the best hospitals of well-known universities around the world.</p>

      <div class="container">
    <div class="row">
        <div class="col-md-4">
             <div class="image-box">
                <img src="{% static 'img/image1.jpg' %}" alt="clinic" width="350" height="300"">
            </div>
        </div>

        <div class="col-md-4">
             <div class="image-box">
                 <img src="{% static 'img/image2.jpg' %}" alt="clinic" width="350" height="300"">            </div>
        </div><div class="col-md-4">
             <div class="image-box">
                 <img src="{% static 'img/image3.jpg' %}" alt="clinic" width="350" height="300"">            </div>
        </div>
</div>
    </div>

<div>
    <h6 style="color:grey;margin-top:10px;padding-left:80px;">Delivering Best Healthcare in Kerala</h6>
<p style="padding-left:80px;text-align:justify;padding-right:80px;">Exceptional health care is built on a foundation of inclusion, compassion, and respect for our patients and each other. This is how we provide the best care possible. All your healthcare requirements will be well managed within Kerala thanks to the vast range of specialty departments, competence, and abilities among the medical professionals at Almas. Every member of our team believes in the comprehensive treatment of each patient, which involves improvement of mental, physical, and emotional health. Patients of Almas can rest assured that we deliver a level of quality and depth of service that no one else can match.
</p>
    <h3 style="color:green;margin-top:10px;padding-left:80px;">Our Mission</h3>
    <p style="padding-left:80px;text-align:justify;padding-right:80px;font-family:verdana;font-size:20px;"><b>"To provide compassionate, accessible, high-quality, cost-effective health care to the community to promote health and educate healthcare professionals and participate in clinical research."
    </b></p>
</div>


</body>
</html>