{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}
  <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 mt-4 mt-md-0 text-center">
    <img src="{% static 'img/call.png' %}" alt="logo" width="60" height="60">

       <p> 0483-2750043<br>
       +91 7034216556</p>
     </div>
  </div>
  </div>

<div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 mt-4 mt-md-0 text-center">
    <img src="{% static 'img/email.png' %}" alt="logo" width="60" height="60">

       <p> curewellclinic@gmail.com
     </p>
     </div>
  </div>
  </div>

<div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 mt-4 mt-md-0 text-center">
    <img src="{% static 'img/address.jpg' %}" alt="logo" width="60" height="60">

       <p>Curewell Clinic<br>
           Kottakkal<br>
           Malappuram DT <br>
           676501<br>
           Kerala
     </p>
     </div>
  </div>
  </div>

<center>
    <h3 style="color:red;">
        For Emergency service please contact at
    </h3>
    <h2 style="color:green;">
        +91 9995661111
    </h2>
</center>

{% endblock content %}