{% load static %}
{% block content %}
<footer class="pt-1 pb-0.5 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 mt-4 mt-md-0 text-center">
            <img src="{% static 'img/calling.png' %}" alt="logo" width="15" height="15">0483-2750043

    <p>
    &copy Copyright 2023 Curewell clinic
  </p>
   <center>
       <div class="container" style="padding-left:250px;">
      <div class="row">
        <div class="col-sm-4">
    <img src="{% static 'img/mail_white.png' %}" alt="logo" width="80" height="80">

       <p> curewellclinic@gmail.com
     </p>

  </div>

          <div class="row">
        <div class="col-sm-4 text-center">
          <img src="{% static 'img/address.jpg' %}" alt="logo" width="80" height="80">

       <p>Curewell_Clinic Kottakkal<br>
           Malappuram  <br>

     </p>
        </div>
              </div>


              <div class="row ">
        <div class="col-sm-4 text-center">
          <img src="{% static 'img/insta.jpg' %}" alt="logo" width="80" height="80">
        <p>curewell_clinic</p>

</div>
              </div>


</div>

  </div>
            </div>
          </div>
</div>

</footer>
{% endblock content %}