{% extends 'base.html' %}
{% load static %}
{% block title %} Curewell Clinic {% endblock %}
{% block content %}


{% if department %}
  <div>
    <div>
      <p class="text-center"><a href= "{% url 'alldoctors' %}">Meet Our Doctors</a></p>
    </div>
  </div>
{% endif %}

<div>
  {% if department %}
  <img src="{{ department.image.url }}" alt="{{department.name}}" style="width:1400px;height:600px;">
</div>
<br>

<div>
  <h1 style="padding-left:15px;">{{department.name}}</h1>
  <p style="padding-left:15px;">{{department.description}}</p>
</div>

{% else %}
  <div>
{% include 'carousel.html' %}
  </div>
<div class="row">
  <div class="col-sm-4">
         <h6 style="padding-left:30px;color:green;mergin-top:15px;">ABOUT US</h6>
          <h1 style="padding-left:30px;color:darkgreen;font-family:georgia;">About<br>
            Curewell clinic</h1>
    </div>
    <div class="col-md-6">
      <p style="padding-left:100px;text-align:justify;margin-top:10px;">Curewell clinic is the modern private clinic in Kottakkal with the world’s best treatment, personalized service, and state-of-the-art facilities. We are now one of the district's major health providers, offering a broad variety of specialty medical and surgical health treatments, as well as critical care, outpatient, and community programs.
        </p>
            <center>
                <button type="button" class="btn btn-dark" ><a href="/aboutus"><h6 style="color:white;">Explore more</h6></a></button>
        </center>
     </div>

</div>

<center>
    <h1 style="font-family:verdana;color:darkslategray;margin-top:10px;"><b>Meet Our Doctors</b></h1>
</center>

{% endif %}
<br>


<div class="container">
  <div class="row">
    {% for doctor in doctors %}
      <div class="col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-center" style="width: 18rem;">
            <a href="{{ doctor.get_url }}"><img class="card-img-top" src="{{ doctor.image.url }}" style="width:250px;height:250px;" alt="{{doctor.name}}"></a>
          <div class="card-body">
            <h5 class="card-title">{{doctor.name}}</h5>
            <p class="card-text">{{doctor.department}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
