{% extends 'base.html' %}
{% load static %}
{% block title %} Doctors {% endblock %}
{% block content %}

<div>
<img src="{% static 'img/doctors.jpg' %}" alt="Doctors" width="1405" height="650" class="img-responsive" padding-left="50px">
</div>
<center>
  <h3 style="color:maroon;">Our Doctors</h3>
</center>

<div class="bg-img">
  <p style="padding-left:15px;">Doctors, also known as physicians, are licensed health professionals who maintain and restore human health through the practice of medicine. They examine patients, review their medical history, diagnose illnesses or injuries, administer treatment, and counsel patients on their health and well-being.<br>
    Becoming a doctor is an enormous commitment because it takes years of dedicated studying and clinical preparation before they can practise as a doctor. As a doctor, they interact with patients, diagnose their problems and prescribe medicines to restore their physical and mental well-being. </p>
</div>



<div class="container">
  <div class="row">
    {% for doctor in doctors %}
      <div class="col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-center" style="width: 18rem;">
            <a href="{{ doctor.get_url }}"><img class="card-img-top" src="{{ doctor.image.url }}" style="width:250px;height:250px;" alt="{{doctor.name}}"></a>
          <div class="card-body">
            <h5 class="card-title">{{doctor.name}}</h5>
            <p class="card-text">{{doctor.department}}</p>
            <p class="card-text">{{doctor.qualification}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}