{% extends 'base.html' %}
{% load static %}
{% block title %} Patient record {% endblock %}
{% block content %}


<div class="container">
  <div class="row">
      <div class="col-9 col-sm-12 col-md-4 col-lg-4">
        <div class="card text-center" style="width: 20rem;">
          <div class="card-body">
              <h5 class="card-title">{{patient.id}}</h5>
            <h5 class="card-title">{{patient.name}}</h5>
              <p class="card-text">{{patient.house_name}}</p>
              <p class="card-text">{{patient.age}}</p>
              <p class="card-text">{{patient.gender}}</p>
              <p class="card-text">{{patient.phone_number}}</p>
            <p class="card-text">{{patient.description}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}

