{% extends 'base.html' %}
{% load static %}
{% block title %} Patient Record{% endblock %}
{% block content %}


{% if user.is_authenticated %}
    <h2>Welcome {{fname}}</h2>
    <h3>You are logged in successfully!!</h3>
       <button type="Submit" class="btn btn-success"><a href="{% url 'patient_record' %}"class="text-light">View Record</a></button>
    <button class="btn btn-success my-2 my-sm-0" type="submit"><a href="{% url 'signout' %}" class="text-light">Patient Logout</a></button>

{% else %}
<center>
<button type="Submit" class="btn btn-success" style="margin-top:15px;margin-bottom:15px;"><a href="{% url 'signup' %}" class="text-light">Register</a></button>
<button type="Submit" class="btn btn-success" style="margin-top:15px;margin-bottom:15px;"><a href="{% url 'signin' %}" class="text-light">Login</a></button>
    </center>
{% endif %}

{% endblock content %}