{% extends 'base.html' %}
{% load static %}
{% block title %} Registration Page{% endblock %}
{% block content %}

<h1>Register Patient</h1>
<form action="/signup/" method="post" style="padding-left:15px;padding-right:15px;">
    {% csrf_token %}

     <label for=" ">Patient Id</label>
    <input type="number" class="form-control" id="id" name="id" placeholder="Enter the patient id" Required>
    <br>
    <label for=" ">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter the username" Required>
    <br>

    <div class="form-row">
    <div class="form-group col-md-6">
    <label for=" ">First name</label>
    <input type="text" id="fname" class="form-control" name="fname" placeholder="Enter your first name" Required>
    <br>
    </div>
    <div class="form-group col-md-6">
    <label for=" ">Last name</label>
    <input type="text" id="lname" class="form-control" name="lname" placeholder="Enter your last name" Required>
    <br>
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
     <label for=" ">House name"</label>
    <input type="text" id="hname" class="form-control" name="hname" placeholder="Enter your house name" Required>
    <br>
    </div>
    <div class="form-group col-md-6">
     <label for=" ">Post Office"</label>
    <input type="text" id="po" class="form-control" name="po" placeholder="Enter your Post office" Required>
    <br>
    </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
    <label for=" ">Age</label>
    <input type="number" id="age" class="form-control" name="age" placeholder="Enter your age" Required>
    <br>
    </div>
    <div class="form-group col-md-6">
    <label for=" ">Phone Number</label>
    <input type="text" id="phonenumber" class="form-control" name="phonenumber" placeholder="Enter your Phone Number" Required>
    <br>
    </div>
     </div>


    <div class="form-row">
    <div class="form-group col-md-6">
    <label for=" ">Password</label>
    <input type="password" id="password1" class="form-control" name="password1" placeholder="Enter your password" Required>
    <br>
    </div>
    <div class="form-group col-md-6">
    <label for=" ">Confirm your password</label>
    <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm your password"Required>
    <br>
    </div>
    </div>

     <center>
    <button type="submit" class="btn btn-success" style="margin-bottom:15px;">Register</button>
     </center>
</form>

{% endblock content %}